<div class="container my 3">
<div class="card" style="width: 25rem;">
  <img src="../../assets/ssr.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Surender Singh Rawat</h5>
    <p class="card-text">Passionate techno-functional leader with 17+ years of experience in solution design, architecture and leading implementation of large and complex software applications at scale. I am self-motivated, hi-performing individual with ability to provide out of the box solutions, collaborate and steer complex projects towards successful completion</p>
  </div>
</div>
</div>
